{% extends 'Space_Marines/base.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="container">
        <div class="wrap">
            <form class="form" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div>
                    <label for="formInput#text">{{ field.label }}: </label>
                    {{ field }}
                </div>
                {% endfor %}
                <input  class="submit" type="submit" value="Подтвердить" />
            </form>
        </div>
    </main>

{% endblock %}